/* styles.css */

body {
    background-color: #f0f0f0; /* Background color for the whole page */
    font-family: Arial, sans-serif;
}

.wrapper {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-wrapper {
    text-align: center;
}

.input-group {
    margin-bottom: 20px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF; /* Button color */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
